@charset "UTF-8";
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  /* column-space */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 900px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }

  [class*='col-'] [class*='col-'] {
    padding-right: 0; }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }

  .mobile-col-1-1 {
    width: 100%; }

  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }

  .mobile-col-1-5 {
    width: 20%; }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }

  .mobile-col-1-7 {
    width: 14.28%; }

  .mobile-col-1-8 {
    width: 12.5%; }

  .mobile-col-1-9 {
    width: 11.1%; }

  .mobile-col-1-10 {
    width: 10%; }

  .mobile-col-1-11 {
    width: 9.09%; }

  .mobile-col-1-12 {
    width: 8.33%; }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }

  .mobile-col-10-12 {
    width: 83.333%; }

  .mobile-col-9-12 {
    width: 75%; }

  .mobile-col-5-12 {
    width: 41.66%; }

  .mobile-col-7-12 {
    width: 58.33%; }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
menu {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent; }

body {
  line-height: 1;
  margin: 0;
  padding: 0; }

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

blockquote:before,
q:before,
blockquote:after,
q:after {
  font-size: 75px;
  line-height: 45px;
  position: absolute; }

blockquote:before,
q:before {
  content: '\201c';
  left: 0; }

blockquote:after,
q:after {
  content: '\201d';
  right: 15px; }

blockquote {
  position: relative;
  padding: 6px 48px 6px 96px;
  margin: 18px 0;
  font-size: 22px;
  line-height: 1.5;
  display: block;
  font-weight: bold; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table,
table td {
  border-collapse: collapse; }

a img,
img a {
  max-width: 100%;
  border: none; }

.entry-content table a img {
  min-width: inherit;
  max-width: inherit; }

a:active {
  outline: none; }

a:focus {
  -moz-outline-style: none; }

.clear {
  clear: both;
  width: 100%;
  height: 1px; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  max-width: 100%;
  font-family: 'Ubuntu', sans-serif;
  line-height: 140%;
  font-weight: 400;
  font-size: 14pt;
  position: relative;
  width: 100%;
  max-height: 100%;
  max-width: 2150px;
  margin: 0 auto;
	  text-align: justify;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

input, textarea, button, a, li, img {
  outline: none; }

img, .img {
  max-width: 100%;
  background: none;
  border: 0;
  margin: 10px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1 {
  font-size: 30pt;
  line-height: 140%; }

h2 {
  font-size: 22pt;
  line-height: 140%; }

h3 {
  line-height: 140%;
  font-size: 20pt;
  margin: 20px 0; }

h4 {
  font-size: 18pt;
  line-height: 140%; }

h5 {
  font-size: 16pt;
  line-height: 140%; }

p {
  font-size: 12pt;
  margin: 12px 0; }

li {
  font-size: 12pt;
  margin: 12px 0; }

html,
body {
  height: 100%; }

.mycontent, .snap_content, .container {
  height: 100%;
  width: 100%; }

.wrapper {
  display: table;
  height: 100%;
  width: 100%; }

#page_content {
  display: table-row;
  height: 100%;
  width: 100%; }

section, header, footer {
  margin: 0 auto;
  overflow: visible; }
  section .grid, header .grid, footer .grid {
    overflow: visible; }

/* header */
body header.top.has_slider {
  background: rgba(0, 0, 0, 0.8);
  color: #262626;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10000; }

body header.top {
  background: #303030;
  color: #262626;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000; }
  body header.top .grid {
    margin-top: 0px; }
    body header.top .grid .logo {
      background: url(../img/logo.png) center center no-repeat;
      width: 100%;
      height: 114px;
      max-width: 180px;
      max-height: 200px;
      display: block;
      background-size: 100%; }
    body header.top .grid .phone {
      display: block;
      position: relative;
      padding: 5px 0 5px 40px;
      float: right;
      margin: 5px;
      background-repeat: no-repeat;
      background-image: url(../img/phone.png);
      margin-top: 30px; }
  body header.top nav {
    margin-top: 30px;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%; }
    body header.top nav menu {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 100%; }
      body header.top nav menu ul {
        list-style: none !important; }
      body header.top nav menu li {
        float: left;
        list-style: none !important;
        margin: 0;
        position: relative;
        border-radius: 2px;
        transition: all 0.4s; }
        body header.top nav menu li a {
          font-size: 18px;
          padding: 15px 20px;
          text-align: left;
          color: #fff;
          display: block;
          text-decoration: none;
          transition: all .2s ease-out;
          position: relative;
          border: 0 1px 0 1px;
          float: left; }
        body header.top nav menu li a:hover, body header.top nav menu li a:active, body header.top nav menu li a.cur {
          color: #fee901;
          border: 0 1px 0 1px;
          border-color: #fff;
          text-decoration: none; }
        body header.top nav menu li a:focus {
          background: inherit;
          text-decoration: inherit; }
        body header.top nav menu li ul {
          display: none;
          position: absolute;
          top: 100%;
          z-index: 20;
          background: #000;
          box-shadow: 0 8px 10px #3d3c3c;
          min-width: 100%;
          width: auto;
          background: rgba(0, 0, 0, 0.8);
          border-top: 0;
          transition: ul 0.4s; }
          body header.top nav menu li ul li {
            float: none;
            width: 100%; }
            body header.top nav menu li ul li a {
              width: 100%;
              display: block; }
          body header.top nav menu li ul li:hover {
            border: none; }
      body header.top nav menu li:hover {
        background: rgba(0, 0, 0, 0.8); }
        body header.top nav menu li:hover ul {
          display: block; }
      body header.top nav menu li:last-child a {
        margin-right: -1px; }
      body header.top nav menu li:last-child a:after {
        background: none; }

/* slider */
#slider {
  width: 100%;
  background-size: 100%;
  overflow: visible; }

/*content */
#content {
  margin-bottom: 60px;
  margin-top: 50px; }
  #content aside .left_menu {
    width: 80%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 0 15% 30px 5%; }
    #content aside .left_menu .nav li a {
      padding: 10px 0;
      text-decoration: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      display: block;
      transition: all .2s ease-out;
      color: #000; }
    #content aside .left_menu .nav li a:hover {
      color: #000; }
    #content aside .left_menu .nav li ul {
      margin-left: 20px; }
    #content aside .left_menu .nav li:last-child a {
      border: 0; }
  #content article {
    margin-bottom: 30px; }
    #content article header {
      display: inline-block;
      width: 100%; }
      #content article header h1 {
        width: 80%;
        text-align: center;
}
      #content article header time {
        float: right;
        max-width: 20%; }
    #content article .content a {
      color: #000;
      transition: all 0.4s; }
    #content article .content a:hover {
      color: #1F79F1; }
    #content article .content img {
      clear: both;
      width: 100%;
      display: block;
      margin: 0 auto 20px; }
    #content article .content ul {
      line-height: 1.714285714;
      list-style: disc outside;
      margin: 0 0 24px;
      margin: 0 0 1.714285714rem; }
      #content article .content ul li {
        margin: 0 0 0 36px;
        margin: 0 0 0 2.571428571rem; }
        #content article .content ul li ul {
          margin-bottom: 0; }
    #content article .content blockquote {
      font-style: italic;
      margin-bottom: 24px;
      margin-bottom: 1.714285714rem;
      padding: 24px;
      padding: 1.714285714rem; }

.social_icon {
  display: table;
  margin: 20px 5%;
  width: 90%; }
  .social_icon > a {
    width: 48px;
    height: 48px;
    margin: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left; }
  .social_icon > a:hover {
    opacity: 0.8; }
  .social_icon .vk {
    background-image: url(../img/social/vk.png); }
  .social_icon .insta {
    background-image: url(../img/social/inst.png); }
  .social_icon .twitter {
    background-image: url(../img/social/twi.png); }
  .social_icon .fb {
    background-image: url(../img/social/fb.png); }

/* footer */
footer {
  background: #303030;
  padding: 30px 0 30px;
  color: #d6d6d6;
  font-size: 14px;
  line-height: 16px; }
  footer .footer-content {
    position: relative; }
    footer .footer-content .footer-mail {
      background: url(../img/icon_mail.png) left center no-repeat;
      padding: 5px 0 5px 33px;
      float: left;
      display: inline;
      margin: 5px 20px 10px 0; }
    footer .footer-content .footer-phone {
      background: url(../img/icon_bottom_phone.png) left center no-repeat;
      padding: 5px 0 5px 33px;
      float: left;
      display: inline;
      margin: 5px 20px 10px 0; }
  footer .sub_footer {
    margin-top: 20px;
    color: #576755;
    clear: both; }
  footer a {
    color: #fff;
    text-decoration: underline; }
  footer a:hover {
    text-decoration: none; }

/* buttons */
.button {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  padding: 12px 27px;
  border: 3px solid #fcc000;
  text-align: center;
  margin: 25px 0;
  color: #fff;
  text-decoration: none; }

.button:hover, .button:active, .button:focus {
  color: #000000;
  background: #fcc000;
  text-decoration: none; }

/* inputs */
input[type=text], input[type=email], input[type=password], input[type=tel], textarea {
  border: 1px solid #f1f1f1;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 15px;
  background: none;
  color: #000;
  max-width: 100%;
  transition: all .2s ease-out; }

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=text]:active,
input[type=email]:active,
input[type=password]:active,
input[type=tel]:active,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea:hover,
textarea:active,
textarea:focus {
  background: #fff; }

input[type=submit] {
  padding: 12px 25px;
  background: #666;
  margin: 5px 0;
  color: #fff;
  border-radius: 25px;
  border: 0;
  text-align: center;
  transition: all .2s ease-out; }

input[type=submit]:hover {
  background: #fee901;
  color: #000; }

/* Modal */
#menu_fon {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 10005; }

.modal_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 10006;
  overflow-y: auto; }
  .modal_overlay .modal_window {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 10px #000;
    padding: 20px;
    z-index: 1007;
    margin-bottom: 30px; }
    .modal_overlay .modal_window .modal_close {
      position: absolute;
      top: -20px;
      right: -20px;
      font-weight: both;
      color: #fff;
      cursor: pointer; }
    .modal_overlay .modal_window .modal_body .modal_title {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 20px;
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px; }

#menu_fon.open,
.modal_window.open,
.modal_overlay.open {
  display: block; }

body.modal_open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden; }

.snap-drawers {
  display: none; }

@media only screen and (max-width: 850px) {
  nav {
    display: none; }

  footer {
    margin: 0 auto;
    padding: 30px 0;
    overflow-wrap: normal;
    /* ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В IE, Firefox; ╤П╨▓╨╗╤П╨╡╤В╤Б╤П ╨║╨╛╨┐╨╕╨╡╨╣ word-wrap */
    word-wrap: normal;
    word-break: normal;
    /* ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В Opera12.14, ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡ keep-all ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В╤Б╤П IE, Chrome */
    line-break: auto;
    /* ╨╜╨╡╤В ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨║╨╕ ╨┤╨╗╤П ╤А╤Г╤Б╤Б╨║╨╛╨│╨╛ ╤П╨╖╤Л╨║╨░ */
    hyphens: manual; }
    footer .content {
      padding: 0;
      margin: 0;
      background: none; }

  input[type=text], input[type=email], input[type=password], input[type=tel], input[type=submit] {
    display: block;
    margin: 5px auto; }

  body > header {
    position: relative; } }
@media only screen and (min-width: 800px) and (max-width: 1130px) {
  footer {
    background: #5b5b5a; }

  nav {
    max-width: 90%; }
    nav li a {
      font-size: 16px;
      padding: 15px 10px; } }
@media only screen and (max-width: 900px) {
  body {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    body .wrapper {
      display: block;
      height: auto; }
      body .wrapper #page_content {
        display: block;
        height: auto; }
    body header.top.has_slider {
      position: relative; }
    body header.top .logo {
      text-align: center;
      margin: auto auto;
      display: block; }
    body header.top nav {
      display: none; }
    body header .col-3-12 {
      margin: 0 auto 10px; }

  #content aside .left_menu {
    display: block;
    margin: 0 auto 30px;
    width: 100%; }
  #content article header h1 {
    text-align: center; }

  #slider .bx-wrapper .bx-pager,
  #slider .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -26px;
    width: 100%; }

  .social_icon {
    display: table;
    width: auto;
    margin: 0 auto; }

  .mycontent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto; }
    .mycontent .snap_content {
      background: #ffffff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      z-index: 2;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .mycontent .snap_content .container {
        position: fixed;
        visibility: visible;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        z-index: 1003;
        width: 100%;
        height: 100%;
        transform: translateZ(0); }

  .snap-drawers {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 80%;
    max-width: 410px;
    margin: 0;
    padding: 0;
    left: 0;
    height: 100%;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    background: #fff; }
    .snap-drawers .snap-drawer {
      display: block;
      padding: 10px 20px; }
      .snap-drawers .snap-drawer nav {
        display: block; }
        .snap-drawers .snap-drawer nav li {
          list-style: none;
          margin: 0; }
          .snap-drawers .snap-drawer nav li a {
            padding: 15px 20px;
            text-decoration: none;
            border-bottom: 1px solid #ccc;
            width: 100%;
            display: block;
            transition: all .2s ease-out;
            color: #000; }
          .snap-drawers .snap-drawer nav li a:hover {
            color: #000; }
          .snap-drawers .snap-drawer nav li ul {
            margin-left: 20px; }
        .snap-drawers .snap-drawer nav li:last-child a {
          border: 0; }

  #toolbar {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 1004; }
    #toolbar #open-left {
      background: #000 url(../img/open.png) center center no-repeat;
      background-size: 30px;
      display: block;
      width: 60px;
      height: 60px;
      cursor: pointer; }
    #toolbar #open-left-text {
      margin: 0;
      color: #FFF;
      line-height: 44px;
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      right: 44px;
      left: 44px;
      width: auto;
      height: 44px; }

  .modal_overlay .modal_window {
    width: 80%;
    max-width: 600px;
    left: auto;
    margin: 0 10% 30px;
    top: 10%; } }

/*# sourceMappingURL=style.css.map */

.content form {
    width: 80%;
    text-align: center;
}

.clips {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

.clips th,
.clips td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.clips th {
    text-align: left;
    font-weight: normal;
}

.clips td:first-child {
    text-align: center;
    width: 20px;
}

.clips td:nth-child(2) {
    font-weight: bold;
    color: black;
}
